<section>
  <h1 class="quiz_title">{{categoryName}}</h1>
  <h2 class="quiz_title">C'est parti {{ playerName }}, soit prêt !</h2>
  <section class="quiz_reset" *ngIf="isQuizFinished">
    <h3>You can see your answers</h3>
    <button class="btn--outline">Reset</button>
  </section>
  <div *ngFor="let question of questions">
    <section class="quiz_questions-list" *ngIf="question.categoryId == categoryId">
      <app-question [question]="question"></app-question>
    </section>
  </div>
  <div class="quiz_validation">
    <button (click)="goToResultPage()" class="btn">Show score</button>
  </div>
</section>
